@model EvidenceZakazekWebApp.ViewModels.ProductCategoryFormViewModel
@using MyToolkit.Html
@{
    ViewBag.Title = "Vytvořit kategorii";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "ProductCategories"))
{
    @Html.AntiForgeryToken();
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <div class="form-group productCategoryProperties">
        @Html.LabelFor(m => m.PropertyDefinitions, htmlAttributes: new { @class = "control-label" })
        <div class="">
            @Html.CollectionEditorFor(m => m.PropertyDefinitions, "Partial/PropertyDefinitionForm", "GetPropertyDefinitionForm",
            "Přidej vlastnost", new { @class = "btn btn-default" })
            @Html.ValidationMessageFor(m => m.PropertyDefinitions)
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
