@model EvidenceZakazekWebApp.ViewModels.ProductFormViewModel
@{
    ViewBag.Title = Model.Heading;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(Model.Action, "Products", FormMethod.Post, new { @class = "products"} ))
{
    <p class="alert alert-info">Věchny pole jsou <strong>povinné</strong>.</p>
    @Html.AntiForgeryToken();
    @Html.HiddenFor(p => p.Id)
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.OrderNumber)
        @Html.TextBoxFor(m => m.OrderNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.OrderNumber)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.TypeName)
        @Html.TextBoxFor(m => m.TypeName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.TypeName)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ProductCategoryId)
        @Html.DropDownListFor(m => m.ProductCategoryId, new SelectList(Model.ProductCategories, "Id", "Name"), "", new { @class = "productCategory form-control"})
        @Html.ValidationMessageFor(m => m.ProductCategoryId)
    </div>

    <div class="form-group">
        <ul class="propertyValues">
            @if (Model.Action == "Update")
            {
                @Html.Partial("Partial/PropertyValuesForm", Model.PropertyValues)
            }
        </ul>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Price)
        <div class="input-group">
            @*
                change default from 0 to "" https://stackoverflow.com/a/18029080
                override default validation message https://stackoverflow.com/a/16081262
            *@
            @Html.TextBoxFor(m => m.Price,
            new { @class = "form-control", data_val_number = "Pole Cena musí obsahovat číslo." })
            <span class="input-group-addon">Kč</span>
        </div>
        @Html.ValidationMessageFor(m => m.Price)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SupplierId)
        @Html.DropDownListFor(m => m.SupplierId, new SelectList(Model.Suppliers, "Id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.SupplierId)
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>        
        $(document).ready(function () {
            ProductController.init();
        });
    </script>
}
