@model EvidenceZakazekWebApp.ViewModels.CrudTableViewModel
@{
    ViewBag.Title = Model.Heading;
}

@section AddToHead{
    @Styles.Render("~/bundles/datatables-css")
}

@helper btnFactory(string classes, string glyphName) {
    <button type="button" class="btn btn-default btn-xs @classes "><span class="glyphicon glyphicon-@glyphName "></span></button>
}

<h2>@Model.Heading</h2>

<table class="table table-striped table-bordered dataTable no-footer crudTable" data-controller-name="@Model.ControllerName">
    <thead>
        <tr>
            <th>id</th>
            @foreach (var ColumnName in Model.CrudRowViewModels.FirstOrDefault().ColumnNames)
            {
                <th>@ColumnName</th>
            }
            <th>Akce</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var CrudRowViewModel in Model.CrudRowViewModels)
        {
            <tr>
                <td>@CrudRowViewModel.Id</td>

                @foreach (var property in CrudRowViewModel.Properties)
                {
                    <td>@property.Value</td>
                }

                <td>
                    @btnFactory("btn-warning js-btn-edit", "pencil")
                    @btnFactory("btn-danger js-btn-delete", "remove")
                    @btnFactory("btn-info js-btn-detail", "info-sign")
                </td>
            </tr>
        }
    </tbody>
</table>


@section scripts
{
    @Scripts.Render("~/bundles/datatables-js")

    <script>
        var controllerName = $(".table").attr("data-controller-name");
        var controllerNameCap = fnCapitalizeFirstLetter(controllerName);

        $(document).ready(function () {
            var table = $(".table").DataTable({
                searching: false,
                paging: false,
                ordering: false,
                info: false
            });

            // hint URL by http://www.webreference.com/html/tutorial2/3.html
            table.on('click', '.js-btn-edit', function () {
                var data = table.row($(this).parents('tr')).data();
                var id = data[0];
                window.location.href = "/" + controllerNameCap + "/Edit/" + id;
            });

            table.on('click', '.js-btn-detail', function () {
                var data = table.row($(this).parents('tr')).data();
                var id = data[0];
                window.location.href = "/" + controllerNameCap + "/Detail/" + id;
            });

            table.on('click', '.js-btn-delete', function () {
                var row = table.row($(this).parents('tr'));
                var data = table.row($(this).parents('tr')).data();
                var productId = data[0];

                var confirmMsg = "";
                switch (controllerName) {
                    case "products":
                        confirmMsg = "<p>Opravdu chceš odstanit tento produkt?</p>";
                        break;
                    case "productCategories":
                        confirmMsg = '<p>Opravdu chceš odstanit tuto kategorii?</p>';
                        confirmMsg += '<p class="text-danger"><b>(Produkty patřící kategorii budou odstraněny)</b></p>';
                        break;
                    default:
                        cofirmMsg = "Text pro tento kontroler nebyl implementován!!"
                }

                CreateConfirmBootboxDialog(
                    "Potvrdit",
                    confirmMsg,
                    function () {
                        $.ajax({
                            url: "/api/" + controllerNameCap + "/" + productId,
                            method: "Delete"
                        })
                        .done(function () {
                            row.remove().draw();
                        })
                        .fail(function () {
                            alert("Něco se pokazilo!");
                        });
                    },
                    function () {}
                );             
            });
        });
    </script>
}


