@model EvidenceZakazekWebApp.ViewModels.CrudTableViewModel
@{
    ViewBag.Title = Model.Heading;
    ViewBag.ControllerName = @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
}

@section AddToHead{
    @Styles.Render("~/bundles/datatables-css")
}

@helper BtnFactory(string classes, string glyphName) {
    <button type="button" class="btn btn-default btn-xs @classes "><span class="glyphicon glyphicon-@glyphName "></span></button>
}

<h2>@Model.Heading</h2>

<table class="table table-striped table-bordered dataTable no-footer crudTable">
    <thead>
        <tr>
            <th>id</th>
            @foreach (var columnName in Model.ColumnNames)
            {
                <th>@columnName</th>
            }
            <th>Akce</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var crudRowViewModel in Model.CrudRowViewModels)
        {
            <tr>
                @* Pokud se to povede pres JS, je mozne tento sloupec odstranit a ulehcit si praci s jeho skryvanim *@
                <td>@crudRowViewModel.Id</td>

                @foreach (var property in crudRowViewModel.Properties)
                {
                    <td>@property.Value</td>
                }

                <td data-itemId="@crudRowViewModel.Id" >
                    @BtnFactory("btn-warning js-btn-edit", "pencil")
                    @BtnFactory("btn-danger js-btn-delete", "remove")
                    @BtnFactory("btn-info js-btn-detail", "info-sign")
                </td>
            </tr>
        }
    </tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function () {
            var controllerName = "@ViewBag.ControllerName";

            CrudTableController.init(controllerName);
        });
    </script>
}


