@model EvidenceZakazekWebApp.ViewModels.CrudTableViewModel
@{
    ViewBag.Title = Model.Heading;
}

@helper btnFactory(string classes, string glyphName) {
    <button type="button" class="btn btn-default btn-xs @classes "><span class="glyphicon glyphicon-@glyphName "></span></button>
}

<h2>@Model.Heading</h2>

<table class="table table-striped table-bordered crudTable" data-controller-name="@Model.ControllerName">
    <thead>
        <tr>
            <th>id</th>
            @foreach (var ColumnName in Model.CrudTableDtos.FirstOrDefault().ColumnNames)
            {
                <th>@ColumnName</th>
            }
            <th>Akce</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var CrudTableDto in Model.CrudTableDtos)
        {
            <tr>
                <td>@CrudTableDto.Id</td>

                @foreach (var property in CrudTableDto.Properties)
                {
                    <td>@property.Value</td>
                }

                <td>
                    @btnFactory("btn-warning js-btn-edit", "pencil")
                    @btnFactory("btn-danger js-btn-delete", "remove")
                    @btnFactory("btn-info js-btn-detail", "info-sign")
                </td>
            </tr>
        }
    </tbody>
</table>


@section scripts
{
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/b-1.4.0/b-colvis-1.4.0/datatables.js"></script>

    <script>

        function capitalizeFirstLetter(string) {
            return string.charAt(0).toUpperCase() + string.slice(1).toLowerCase();
        }

        var controllerName = $(".table").attr("data-controller-name");
        var controllerNameCap = capitalizeFirstLetter(controllerName);

        $(document).ready(function () {
            var table = $(".table").DataTable({
                searching: false,
                paging: false,
                ordering: false,
                info: false
            });

            // hint by http://www.webreference.com/html/tutorial2/3.html
            table.on('click', '.js-btn-edit', function () {
                var data = table.row($(this).parents('tr')).data();
                var id = data[0];
                window.location.href = "/" + controllerNameCap + "/Edit/" + id;
            });

            table.on('click', '.js-btn-detail', function () {
                var data = table.row($(this).parents('tr')).data();
                var id = data[0];
                window.location.href = "/" + controllerNameCap + "/Detail/" + id;
            });

            table.on('click', '.js-btn-delete', function () {
                var row = table.row($(this).parents('tr'));
                var data = table.row($(this).parents('tr')).data();
                var productId = data[0];

                var confirmMsg = "";
                switch (controllerName) {
                    case "products":
                        confirmMsg = "<p>Opravdu chceš odstanit tento produkt?</p>";
                        break;
                    case "productCategories":
                        confirmMsg = '<p>Opravdu chceš odstanit tuto kategorii?</p>';
                        confirmMsg += '<p class="text-danger"><b>(Produkty patřící kategorii budou odstraněny)</b></p>';
                        break;
                    default:
                        cofirmMsg = "Text pro tento kontroler nebyl implementován!!"
                }

                bootbox.dialog({
                    title: 'Confirm',
                    message: confirmMsg,
                    buttons: {
                        no: {
                            label: "Ne",
                            className: 'btn-default',
                            callback: function () {
                                bootbox.hideAll();
                            }
                        },
                        yes: {
                            label: "Ano",
                            className: 'btn-danger',
                            callback: function () {
                                $.ajax({
                                    url: "/api/" + controllerNameCap + "/" + productId,
                                    method: "Delete"
                                })
                                .done(function () {
                                    row.remove().draw();
                                })
                                .fail(function () {
                                    alert("Něco se pokazilo!");
                                });
                            }
                        }
                    }
                });              
            });
        });
    </script>
}


