@model EvidenceZakazekWebApp.ViewModels.Partial.PropertyDefinitionFormViewModel
@using MyToolkit.Html

<li style="cursor: move">
    <div class="panel panel-default panel-body" style="display: block">
        @using (Html.BeginCollectionItem("PropertyDefinitions"))
        {
            @Html.HiddenFor(m => m.Id)
            <div class="form-group row">
                    @Html.LabelFor(m => m.Name, new { @class = "col-md-1 voffset06" })
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control col-md-2" })
                    @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
                    @Html.LabelFor(m => m.MeasureUnit, new { @class = "col-md-2 voffset06" })
                    @Html.TextBoxFor(m => m.MeasureUnit, new { @class = "form-control col-md-2" })
                    @Html.ValidationMessageFor(m => m.MeasureUnit, null, new { @class = "text-danger" })
                <input type="button" value="Delete" class="btn btn-default"
                       onclick="$(this).parent().remove();" style="margin-left: 30px" />
            </div>

        }
        </div>
    </li>
